<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
    <title>Hello, world!</title>
</head>
<body>
        <div class="container" style="color: #151C32;">
            <br />
            <div class="row">

                <div class="col-12 col-sm-6 col-md-11 col-lg-12 mb-2" style="font-family: Roboto; font-style: normal;">

                    <h2 class="fs-1 text-center justify-content-center">Reserva tu cita <a style="font-family: Alegreya; font-style: italic;"> en 3 pasos</a></h2>
                </div>
            </div>
            <div class="row offset-1 mb-sm-0  mb-sm-0 offset-sm-0">
                <div class=" col-sm-8 col-md-4 offset-lg-1 offset-xl-0 col-lg-4 justify-content-between">
                    <div class="card text-center p-2 mb-3" style="border-radius: 30px; background: #E6E2D4; width: 330px; height: 400px; background: #F1E6DA;">
                        <div class="card-body">
                            <div class="m-1">
                                <label class=" top-50 start-50 btn-primary rounded-circle" style="background: #FFFFFF;width: 7rem; height:7rem;"> <h1 class="card-img-top rounded-circle mt-4" style="color: #AC6A4D;">1</h1></label>
                            </div>
                        </div>
                        <div class="card-body">

                                <p class="card-text fs-5" style="font-family: Montserrat;font-weight: bold;">Responde las preguntas para que nuestro algoritmo te muestre la especialidad que más te convenga.</p>

                        </div>
                    </div>
                </div>
                <div class="col-sm-8 offset-md-2 offset-xl-0 col-md-4 col-lg-4 justify-content-between">
                    <div class="card text-center p-2 mb-3" style="border-radius: 30px; background: #E6E2D4; width: 330px; height: 400px; background: #F1E6DA;">
                        <div class="card-body">
                            <div class="m-1">
                                <label class=" top-50 start-50  btn-primary rounded-circle" style="background: #FFFFFF;width: 7rem; height:7rem;"> <h1 class="card-img-top rounded-circle mt-4" style="color: #AC6A4D;">2</h1></label>

                            </div>

                        </div>

                        <div class="card-body">

                                <p class="card-text fs-5" style="font-family: Montserrat;font-weight: bold;">Selecciona al especialista, elige un plan y el horario que vaya mejor contigo.</p>

                        </div>
                    </div>
                </div>
                <div class="col-sm-8 offset-md-3 col-md-6 offset-lg-4 offset-xl-0 col-lg-3  justify-content-between">
                    <div class="card text-center p-2 mb-3" style="border-radius: 30px; background: #E6E2D4; width: 330px; height: 400px; background: #F1E6DA;">
                        <div class="card-body">
                            <div class="m-1">
                                <label class=" top-50 start-50  btn-primary rounded-circle" style="background: #FFFFFF;width: 7rem; height:7rem;"> <h1 class="card-img-top rounded-circle mt-4" style="color: #AC6A4D;">3</h1></label>

                            </div>

                        </div>
                        <div class="card-body">

                                <p class="card-text fs-5" style="font-family: Montserrat;font-weight: bold;">Accese a tu sesión en cualquier dispositivo y en cualquier lugar.</p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6 ms-4 ms-ms-0 col-md-11 col-lg-12">
                    <p class="fs-2 text-center"><b>¿Aún tienes dudas? Te brindamos asesoría personalizada</b></p>
                </div>

            </div>
            <div class="row mb-2  mb-sm-2 mb-md-3 mb-lg-2">
                <div class="col-9 offset-3 offset-sm-0 col-sm-6 col-md-4 d-grid col-lg-2 mx-auto">
                    <button type="submit" class="btn  rounded " style="background: #AC6A4D;color:white;"><b>Sí, ayúdenme</b></button>

                </div>
            </div>
        </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
</body>
</html>
