
<section>
<nav id="header" class="navbar navbar-expand-lg navbar-dark fixed-top pt-0" style="background: #ca9f8dde;">
 <div class="container ps-0">
     <a class="navbar-brand ps-4 ps-sm-0" href="#"><img src="/src/assets/Iconos/headerMB.svg" alt="logo" class="w-100 h-100"></a>
     <app-danderas></app-danderas>

 <div class="collapse navbar-collapse text-start ps-4 ps-sm-0" id="navbarSupportedContent">
     <ul class="navbar-nav me-auto mb-2 mb-lg-0">

           <li class="nav-item">
             <a class="nav-link" href="#fondo" style="color:#151C32">Inicio</a>
         </li>

         <li class="nav-item dropdown">
             <a class="nav-link dropdown-toggle" style="color:#151C32" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                 Programas
             </a>
             <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                 <li><a class="dropdown-item" href="../programaIndividualPeru/programaIndividual.component.html" style="color:#151C32">Individuales</a></li>
                 <li><a class="dropdown-item" href="../programaGrupalPeru/programaGrupal.component.html" style="color:#151C32">Grupales</a></li>

             </ul>
       </li>
          <li class="nav-item">
             <a class="nav-link" href="#" style="color:#151C32">Precios</a>
         </li>
         <li class="nav-item">
             <a class="nav-link" href="#" style="color:#151C32">Especialistas</a>
         </li>
         <li class="nav-item">
             <a class="nav-link" href="../app/blogFinal.component.html" style="color:#151C32">Blog</a>
         </li>
         <li class="nav-item">
             <a class="nav-link" href="../app/marketplaceGaleria.component.html" style="color:#151C32">Marketplace</a>
         </li>
         <li class="nav-item dropdown">
             <a style="color:#151C32" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <u>Ingresar</u>
             </a>
             <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                 <li><a class="dropdown-item" href="#" style="color:#151C32" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Iniciar sesión</a></li>
                 <li><a class="dropdown-item" href="#" style="color:#151C32" data-bs-toggle="modal" data-bs-target="#staticBackdrop1">Registrarse</a></li>
             </ul>
         </li>
     </ul>
     <div class="d-grid gap-2 d-md-flex justify-content-md-end">
         <a action="/filtros/mostrar1" href="../preguntasFiltroFinal/preguntasFiltroFinal.component.html" class="btn me-md-2 text-white" type="button" style="background: #AC6A4D;" method="get">Reservar</a>
     </div>
   </div>
 </div>
</nav>
</section>
