<section>
  <div id="fondo" class="container-fluid" style="background: linear-gradient(480deg, rgba(197, 158, 140, 0.8) 0%, rgba(204, 157, 136, 0.5) 48.96%, rgba(192, 133, 106, 0) 100%);">

          <div class="row"></div><br/><br/><br/><br/><br/><br/>
          <div class="row offset-1 px-0">

              <div class="col-12 col-md-12  col-lg-12">
                  <h2 class="col-9 col-lg-12" style="font-family: Montserrat;font-size: 60px;color: #151C32;">Crea tu propio <em style="font-family: Bodoni 72;">bienestar</em></h2>
                  <p style="font-family: Montserrat;font-weight: bold;font-size: 30px;line-height: 37px;">Cultiva una mente bonita</p>
                  <a href="../app/preguntasFiltro1.component.html" class="btn  btn-lg text-white" style="background: #151C32;" method="get">Reserva una cita</a>

              </div>
          </div>
          <div class="row"></div><br/><br/>
          <div class="row"></div><br/><br/>
          <div class="row"></div><br/><br/>
          <div class="row"></div><br/><br/>
          <div class="row"></div><br/><br/>
          <div class="row"></div><br/><br/><br/><br/>
          <div class="row px-lg-0">
              <div class="col-12 col-md-12 mb-2 mb-lg-4">
                  <a class="flotante" href="#" ><img src="/src/assets/images/chatBot.svg">
                  </a>
              </div>
          </div>
      </div>


</section>
<!--/Contenedor title-->
