<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
    <title>Informacion de Usuarios</title>
    <style>
      #infoUsuario button {
           background:#FFFFFF ;
       }
      #infoUsuario button:hover{
           border: 1px solid #AC6A4D;

       }
    </style>
</head>
<body >
    <section id="infoUsuario" class="py-4 mx-auto" style="color:#151C32;">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="">
                        <img src="./Imagenes/perfilUsuario.jpg" class="rounded-pill" alt="Perfil Usuario" />
                        <br>
                        <a href="#" class="card-title" style="color: #151C32; font-family: 'Montserrat'; font-style: normal; font-weight: 400; font-size: 16px;">Ir a mi perfil </a>
                    </div> <br><br>
                   <div class="col-4">
                    <a href="#" class="top-50" style="color: #AC6A4D; font-family: 'Montserrat'; font-style: normal; font-weight: 400; font-size: 16px; line-height: 20px;">Preguntas frecuentes</a><br />
                    </div>

                </div>
                <div class="col-md-3" >
                    <div class="" style="color:#151C32;">
                        <h3 class="card-text" style="font-family: Montserrat;font-weight:bold;">Nombre del Usuario</h3><br />
                        <u class="card-text" style="font-family: Montserrat;font-weight:bold;">usuario1@gmail.com </u><br />
                        <u class="card-text"style="font-family: Montserrat;font-weight:bold;" >+999999999 </u>
                    </div> <br><br><br>
                    <div class="col">
                       <a href="#" style="color: #AC6A4D;font-family: Montserrat;font-weight:bold;"> Soporte y consultas</a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card text-center justify-content-center p-4 h-100 w-100" style="background: #4A5A79;">
                        <div class="row">
                            <div class="col-3">
                                <img src="./Imagenes/regalo.svg" alt="Regalo" />
                            </div>
                            <div class="col">
                                <p style="color:#FFFFFF;" class="fs-6" ><b style="font-family: Montserrat;font-weight:bold;">Refiere amigos y consigue descuentos</b></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 text-md-start">
                                <p style="color:#FFFFFF;" class="fs-6"><b style="font-family: Montserrat;font-weight:bold;">Codigo: Apellido-Nombre-Codigo</b></p>
                            </div>
                         </div>
                          <div class="row">
                            <div class="col-5">
                                    <a href="#" style="color:#FFFFFF;font-family: Montserrat;font-weight:bold;">Compartir</a></div>
                            <div class="col-1">
                                    <img src="./Imagenes/compartir.svg" alt="Compartir"/>
                                </div>
                          </div>


                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card text-center justify-content-center p-4 h-100 w-100 " style="background:#E6E2D4;">
                        <div class="row">
                            <div class="col-2">
                                <img src="./Imagenes/canasta.svg" alt="Canasta" />
                            </div>
                            <div class="col-8 text-end">
                                <p style="color:#414141;"><b style="font-family: Montserrat;font-weight:bold;">Compras del Marketplace</b></p>
                            </div><br>
                           <div class="col">
                                <button type="button" class="btn btn-secundary w-100 text-light rounded" style="background: #AC6A4D;"><b style="font-family: Montserrat;font-weight:bold;">Ver mis compras</b></button>

                            </div><br>

                            <div class="col text-md-start">
                                 <a href="#" style="color:#151C32;font-family: Montserrat;font-weight:bold;">Ir a marketplace</a>
                            </div>
                        </div>
                    </div>
                </div>



            </div><br><br>

            <div class="row " >
                <div class="col-md-3">
                    <div>
                        <button type="button" class="btn btn-secundary shadow fs-4 text-center w-100 h-50 rounded" style="background: #FFFFFF;font-family: Montserrat;font-weight:bold;">Inicio</button>

                    </div><br>
                </div><br>
                <div class="col-md-3">
                    <div>
                        <button type="button" class="btn btn-secundary shadow fs-4 text-center w-100 h-50 rounded col-md-3" style="background: #FFFFFF;font-family: Montserrat;font-weight:bold;">Perfil</button>

                    </div><br>

                </div>
                <div class="col-md-3">
                    <div>
                        <button type="button" class="btn btn-secundary shadow fs-4 text-center w-100 h-50 rounded" style="background: #FFFFFF;font-family: Montserrat;font-weight:bold;">Objetivos</button>

                    </div><br>

                </div>

                <div class="col-md-3">
                    <div>
                        <button type="button" class="btn btn-secundary shadow fs-4 text-center w-100 h-50 rounded" style=" background: #FFFFFF;font-family: Montserrat;font-weight:bold;">Informes</button>

                    </div><br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div>
                        <button type="button" class="btn btn-secundary shadow fs-4 text-center w-100 h-50 rounded" style="background: #FFFFFF;font-family: Montserrat;font-weight:bold;">Mensajes</button>

                    </div><br>
                </div><br>
                <div class="col-md-3">
                    <div>
                        <button type="button" class="btn btn-secundary shadow fs-4 text-center w-100 h-50 rounded col-md-3" style="background: #FFFFFF;font-family: Montserrat;font-weight:bold;">Especialistas</button>

                    </div><br>

                </div>
                <div class="col-md-3">
                    <div>
                        <button type="button" class="btn btn-secundary shadow fs-4 text-center w-100 h-50 rounded" style="background: #FFFFFF;font-family: Montserrat;font-weight:bold;">Pagos</button>

                    </div><br>

                </div>

                <div class="col-md-3">
                    <div>
                        <button type="button" class="btn btn-secundary shadow fs-4 text-center w-100 h-50 rounded" style=" background: #FFFFFF;font-family: Montserrat;font-weight:bold;">Comprar sesiones</button>

                    </div><br>
                </div>
            </div>
            <div class="row">
                <span class="border border-dark border-md"></span>
            </div>
            <div class="row">
                <h2 style="font-family: Montserrat;font-weight:bold;">Tu progreso en números:</h2>
            </div>
            <div class="row" style="color:#AC6A4D;">
                <div class="col-md-3">
                    <h1 style="font-family: Montserrat;font-weight:bold;">10</h1>
                    <p style="color:#151C32;font-family: Montserrat;font-weight:bold;">Sesiones individuales</p>
                </div>
                <div class="col-md-3">
                    <h1 style="font-family: Montserrat;font-weight:bold;"> 10</h1>
                      <p style="color:#151C32;font-family: Montserrat;font-weight:bold;"> Sesiones grupales</p>
                </div>
                <div class="col-md-3">
                    <h1 style="font-family: Montserrat;font-weight:bold;">5</h1>
                    <p style="color:#151C32;font-family: Montserrat;font-weight:bold;">Especialidades</p>
                </div>
                <div class="col-md-3">
                    <h1 style="font-family: Montserrat;font-weight:bold;">50</h1>
                    <p style="color:#151C32;font-family: Montserrat;font-weight:bold;">Horas invertidas en tu salud</p>
                </div>
            </div>
            <div class="row">
                <span class="border border-dark"></span>
            </div>
        </div>
    </section>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

