<h3>Perfil Adminitrador</h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nombres</th>
      <th scope="col">Apellido</th>
      <th scope="col">Ciudad</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>MISA</td>
      <td>Otto</td>
      <td>MEXICO</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>PERU</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Tsnia</td>
      <td colspan="2">Larry the Bird</td>
      <td>PERU</td>
    </tr>
  </tbody>
</table>
<ul>
  <li class="text" *ngFor="let item of items | async">
    <!--Aqui se llama el objeto y el cambo que esta en firebase-->
    {{item.name}}
  </li>
</ul>
<button routerLink="/crear-especialista">Agregar Especialista</button>
